* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  /* SPACING */
  --s-1: 8px;
  --s-2: 16px;
  --s-3: 24px;
  --s-4: 32px;
  --s-6: 48px;
  --s-8: 64px;
  --s-12: 96px;
  --s-16: 128px;

  /* FONT */
  --font-size-base: 1rem;
  --font-size-large: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;

  /*  COLORS */
  --color-green: hsl(160deg, 100%, 30%);
  --color-gold-light: hsl(45deg, 100%, 50%);
  --color-gold-dark: hsl(45deg, 100%, 40%);
  --color-black: hsl(0deg, 0%, 0%);
  --color-grey-very-dark: hsl(0deg, 0%, 10%);
  --color-gray-dark: hsl(0deg, 0%, 30%);
  --color-gray-medium: hsl(0deg, 0%, 40%);
  --color-gray-light: hsl(0deg, 0%, 60%);
  --color-white: hsl(0deg, 0%, 100%);

  --color-primary: var(--color-green);
  --color-secondary-light: var(--color-gold-light);
  --color-secondary-dark: var(--color-gold-dark);
}

strong {
  color: var(--color-green);
  font-weight: bold;
  font-size: var(--font-size-large);
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.intro-chunk {
  max-width: 415px;
  margin-top: var(--s-12);
  margin-bottom: var(--s-8);
}

.intro-chunk h1 {
  margin: var(--s-6) 0;
  font-size: var(--font-size-xxl);
}

p {
  margin: var(--s-2) 0;
  line-height: 1.5;
  font-size: var(--font-size-large);
}

main {
  background: var(--color-gray-medium);
  border-top: var(--s-1) var(--color-gray-light) solid;
  padding: var(--s-8) 0;
}

.card {
  border-bottom: var(--s-1) var(--color-gray-light) solid;
  padding: var(--s-1) var(--s-3) var(--s-3);
  background: var(--color-white);
}

.card .indented-heading {
  margin: 0;
  display: inline-block;
  margin-left: calc(-1 * var(--s-4));
  padding: var(--s-2) var(--s-4);
  background: var(--color-gold-light);
  border-bottom: var(--s-1) var(--color-gold-dark) solid;
  font-size: var(--font-size-xl);
}

.card p:last-child {
  margin-bottom: 0;
}
